<section id="contact">
	<h3>Kontakt</h3>
	<section class="informations">
		<a class="map" href="https://www.google.com/maps/place/Producent+mebli+PPHU+Stefbud/@51.0563914,21.0529127,15z/data=!4m6!3m5!1s0x47181421d1738095:0xbc26c0babd3aba69!8m2!3d51.0563914!4d21.0529127!16s%2Fg%2F1tgg8q66" target="_blank">
		<div class="map">
			<h4>Skontaktuj się z nami</h4>
			<span><fa-icon [icon]="faMapMarkerAlt"></fa-icon></span>
			<div class="address">
				<p>Starachowice</p>
				<p>Adama Mickiewicza 16</p>
			</div>
		</div>
		</a>
		<div class="mail-phone">
			<p>
				<span class="icon"><fa-icon [icon]="faEnvelope"></fa-icon></span>
				<span><a href="mailto:stefanoziomek@wp.pl">stefanoziomek@wp.pl</a></span>
			</p>
			<p>
				<span class="icon"><fa-icon [icon]="faPhone"></fa-icon></span>
				<span><a href="tel:663607022">663 607 022</a></span>
			</p>
		</div>
	</section>
</section>