section.contact {
	height: calc(100vh - 100px);
	min-height: calc(100vh - 100px);
	width: 100%;
	background-color: #DAD7CD;
	padding: 100px 0 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.heading {
	display: none;
}

h3 {
	padding: 0 150px;
	font-size: 60px;
	font-weight: normal;
	color: #344E41;
}

section.informations {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	width: 100%;
	height: 80%;
}

.map{
	order: 1;
}

.mail-phone {
	order: 2;
}

.map,
.mail-phone {
	width: 100%;
	height: 100%;
}

.map,
a.map {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	background-color: #588157;
	color: #fff;
	cursor: pointer;
	filter: brightness(1);
	transition: .3s;
	text-decoration: none;
}

a.map:hover {
	filter: brightness(1.1);
}

.map h4 {
	font-size: 40px;
	font-weight: normal;
}

.map span {
	font-size: 175px;
}

.address {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 36px;
}

.mail-phone {
	padding-left: 150px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 50px;
	color: #344E41;
}

.mail-phone p {
	display: flex;
	align-items: center;
	gap: 50px;
}

.mail-phone a {
	font-size: 41px;
	text-decoration: none;
	color: #344E41;
	cursor: pointer;
	filter: brightness(1);
	transition: .3s;
}

.mail-phone a:hover {
	filter: brightness(1.5);
}

.mail-phone .icon {
	font-size: 90px;
}

@media(max-width: 1600px) {
	section.informations {
		flex-direction: column;
	}

	.map,
	.mail-phone {
		width: 100%;
	}

	.mail-phone {
		padding-left: 70px;
	}

	.mail-phone a {
		font-size: 30px;
	}
}

@media (max-width: 1100px) {
	section.contact {
		padding: 40px 0px;
		min-height: auto;
		height: auto;
	}

	section.informations {
		display: grid;
		grid-template-columns: repeat(1, 100%);
	}

	.mail-phone a {
		font-size: 24px;
	}

	.mail-phone {
		padding-left: 150px;
	}

	.mail-phone .icon {
		font-size: 50px;
	}

	.mail-phone p {
		gap: 10px;
	}

	.heading{
		margin-top: 30px;
		padding: 20px 150px;
		width: 100%;
		display: block;
		background-color: #588157;
		color: #DAD7CD;
	}

	.heading h6{
		font-size: 20px;
		font-weight: normal;
	}

	.map{
		order: 2;
	}
	
	.mail-phone {
		order: 1;
	}

	h4{
		display: none;
	}

	.mail-phone {
		padding: 40px 150px;
		gap: 10px;
	}

	.map {
		padding: 20px 10px;
	}

	.map .address{
		font-size: 24px;
	}

	.mail-phone .icon {
		font-size: 60px;
	}
}

@media(max-width: 1024px) {
	h3 {
		padding: 0 40px;
		font-size: 28px;
	}

	.heading{
		padding: 20px 40px;
	}

	.mail-phone {
		padding: 40px;
	}
}

@media (max-width: 480px) {
	.mail-phone a{
		font-size: 16px;
	}
}