<section id="wspolpraca">
	<div class="container">
		<div class="heading">
			<h4>Zapraszamy do współpracy</h4>
		</div>
		<div class="main">
			<h5>Firmy z którymi współpracujemy:</h5>
			<ul>
				<li><a href="https://www.wp.pl" target="_blank">PPHU STEFBUD</a></li>
				<li><a href="https://www.wp.pl" target="_blank">PPHU STEFBUD</a></li>
			</ul>
		</div>
	</div>
	<div class="back">
		<div class="arrow">
			<span (click)="onTop()" class="icon"><fa-icon [icon]="faAngleUp"></fa-icon></span>
			<span>Powrót na górę</span>
		</div>
	</div>
</section>