footer{
	padding: 40px 150px;
	background-color: #344E41;
	color: #DAD7CD;
	font-size: 20px;
	display: flex;
	justify-content: space-between;
}

.copyright {
	display: flex;
	gap: 10px;
}

.developer a{
	color: #DAD7CD;;
	cursor: pointer;
	text-decoration: none;
	filter: brightness(1);
	transition: .3s;
}

.developer a:hover{
	filter: brightness(1.5);
}

