<section id="realizacje" class="main">
	<h3>Realizacje</h3>
	<section class="main-portfolio">
		<ng-container *ngFor="let element of realizations; let i = index">	
			<a [routerLink]="['/realizacja', i + 1]" class="element" *ngIf="element.isPromoted">
				<section>
					<img src="/assets/images/{{element.photos[0].src}}" alt="">
					<div class="label">{{element.category}}</div>
				</section>
			</a>
		</ng-container>
	</section>
	<a class="link" routerLink="/realizacje">Przejdź do naszych realizacji</a>
</section>