<section id="realizacje" class="main">
	<h3>Realizacje</h3>
	<section class="main-portfolio">
		<a href="#" class="element">
			<section>
				<img src="../.././../assets/images/kitchen-1.jpg" alt="">
				<div class="label">Kuchnia</div>
			</section>
		</a>
		<a href="#" class="element">
			<section>
				<img src="../.././../assets/images/kitchen-1.jpg" alt="">
				<div class="label">Kuchnia</div>
			</section>
		</a>
		<a href="#" class="element">
			<section>
				<img src="../.././../assets/images/kitchen-1.jpg" alt="">
				<div class="label">Kuchnia</div>
			</section>
		</a>
	</section>
	<a class="link" routerLink="/realizacje">Przejdź do naszych realizacji</a>
</section>