<section id="portfolio">
	<h2>Realizacje</h2>
	<p>Witamy na stronie z realizacjami niżej możesz zobaczyć projekty przeprowadzone przez naszą firmę po kliknięciu w
		grafikę otworzy się galeria zdjęć możesz również posortować projekty po kategorii.</p>
	<div class="filter">
		<p>Wybierz kategorie:</p>
		<div class="categories">
			<button class="category active">Wszystkie</button>
			<button class="category">Kuchnie</button>
			<button class="category">Łazienki</button>
			<button class="category">Sypialnie</button>
			<button class="category">Pozostałe</button>
		</div>
		<div class="elements">
			<a href="#" class="element">
				<div class="heading">Łazienka</div>
				<img src="../../../../assets/images/kitchen-1.jpg" alt="">
				<div class="label">
					<span>Liczba zdjęć: 5</span>
					<span>Liczba filmów: 1</span>
				</div>
			</a>
			<a href="#" class="element">
				<div class="heading">Łazienka</div>
				<img src="../../../../assets/images/hero-1.jpg" alt="">
				<div class="label">
					<span>Liczba zdjęć: 5</span>
					<span>Liczba filmów: 1</span>
				</div>
			</a>
			<a href="#" class="element">
				<div class="heading">Łazienka</div>
				<img src="../../../../assets/images/hero-2.jpg" alt="">
				<div class="label">
					<span>Liczba zdjęć: 5</span>
					<span>Liczba filmów: 1</span>
				</div>
			</a>
			<a href="#" class="element">
				<div class="heading">Łazienka</div>
				<img src="../../../../assets/images/kitchen-1.jpg" alt="">
				<div class="label">
					<span>Liczba zdjęć: 5</span>
					<span>Liczba filmów: 1</span>
				</div>
			</a>
			<a href="#" class="element">
				<div class="heading">Łazienka</div>
				<img src="../../../../assets/images/kitchen-1.jpg" alt="">
				<div class="label">
					<span>Liczba zdjęć: 5</span>
					<span>Liczba filmów: 1</span>
				</div>
			</a>
			<a href="#" class="element">
				<div class="heading">Łazienka</div>
				<img src="../../../../assets/images/kitchen-1.jpg" alt="">
				<div class="label">
					<span>Liczba zdjęć: 5</span>
					<span>Liczba filmów: 1</span>
				</div>
			</a>
		</div>
	</div>
</section>
<div class="contact">Zapraszamy do kontaktu</div>