<app-hero [title]="'Realizacja'" [desc]="'Nasza realizacja'" section="realizacja"
	path="../../../assets/images/hero-1.jpg"></app-hero>
<section id="realizacja" class="element">
	<h2>Realizacja</h2>
	<section class="main">
		<div class="main-img">
			<img [src]="'/assets/images/' + realization.photos[0].src" alt="">
		</div>
		<div class="desc">
			<h3>Kategoria: {{realization.category}}</h3>
			<p>Opis: {{realization.description}}</p>
			<p class="materials">Materiały:</p>
			<ul>
				<li *ngFor="let element of realization.materials">{{element}}</li>
			</ul>
		</div>
	</section>
	<section class="photos" *ngIf="realizationsVideo.length">
		<h4>Filmy</h4>
		<div class="photos-container">
			<video controls *ngFor="let element of realizationsVideo">
				<source [src]="'/assets/video/' + element.src" type="video/mp4">
			</video>
		</div>
	</section>
	<section class="photos">
		<h4>Zdjęcia</h4>
		<div class="photos-container">
			<img *ngFor="let img of realizationsImg; let i = index" (click)="openModal(i)" [src]="'assets/images/' + img.src" [alt]="img.src">
		</div>
	</section>
</section>
<div class="back"><a [routerLink]="['/realizacje']">Powrót do realizacji</a></div>